<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Cadastre-se com</small>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Ou preencha as informações abaixo</small>
              </div>
              <form role="form" [formGroup]="registerForm" (ngSubmit)="Cadastrar()">
                <div class="form-group" [ngClass]="{'focused':focus===true, 'has-danger': submitted && cliente?.Nome?.length < 3}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input formControlName="Nome" maxlength="150" class="form-control" placeholder="Nome" type="text"
                      (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>

                <div class="form-group"
                  [ngClass]="{'focused':focus===true, 'has-danger': submitted && !cliente?.Sobrenome}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input formControlName="Sobrenome" maxlength="150" class="form-control" placeholder="Sobrenome"
                      type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true, 'has-danger': submitted && !cliente?.Cpf}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    </div>
                    <input formControlName="Cpf" maxlength="11" class="form-control" placeholder="CPF" type="text"
                      (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group"
                  [ngClass]="{'focused':focus===true, 'has-danger': submitted && !cliente?.DataNascimento}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input formControlName="DataNascimento" maxlength="10" class="form-control"
                      placeholder="Data de nascimento" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group"
                  [ngClass]="{'focused':focus1===true, 'has-danger': submitted && !cliente?.Email}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-at"></i></span>
                    </div>
                    <input formControlName="Email" maxlength="100" class="form-control" placeholder="E-mail"
                      type="email" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                </div>
                <div class="form-group"
                  [ngClass]="{'focused':focus2===true, 'has-danger': submitted && !cliente?.Senha}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input formControlName="Senha" maxlength="20" class="form-control" placeholder="Senha"
                      type="password" (focus)="focus2=true" (blur)="focus2=false">
                  </div>
                </div>
                <div class="text-muted font-italic">
                  <small>força da senha:
                    <span class="text-success font-weight-700">forte</span>
                  </small>
                </div>
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox"
                        (click)="AceitarTermos()">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>Eu concordo com os
                          <a>Termos de Privacidade</a>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="alert alert-danger" role="alert">
                  <strong>Danger!</strong> This is a danger alert—check it out!
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4" [disabled]="!termos">Criar nova conta</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
