<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <div class="text-primary text-center display-4" *ngIf="loading">
    <i class="fas fa-spinner fa-spin"></i>
  </div>

  <div class="container" *ngIf="!loading">

    <div class="h2 text-warning font-weight-bold text-center">Checkout</div>

    <div class="card bg-gradient-secondary shadow mb-3">
      <div class="card-body">
        <div class="font-weight-bold h3">Endereço</div>


        <div ngbDropdown class="d-inline-block mt-2 mb-4">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{enderecoAbrev}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let endereco of cliente?.ClienteEndereco; let i = index">
              <button ngbDropdownItem (click)="Selecionar(endereco)">{{endereco.Logradouro}} -
                {{endereco.Cidade}}</button>
            </div>
          </div>
        </div>

        <div class="font-weight-bold display-5">{{enderecoSelecionado}}</div>
      </div>
    </div>

    <div class="card bg-gradient-secondary shadow mb-3">
      <div class="card-body">
        <div class="font-weight-bold h3">Pagamento</div>
        <div>
          <img src="../../assets/img/brand/picpay-logo.png" class="img-left img-fluid shadow shadow-lg--hover"
            width="100" />
        </div>
        <div class="mt-2">
          <small>Ao confirmar o pedido, será gerado um QR Code. Aponte a câmera do seu celular e realize o pagamento
            utilizando o PicPay.</small>
        </div>
      </div>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="showMessage">
      <strong>Atenção!</strong> Selecione o endereço para entrega.
    </div>


    <div class="text-center mt-4">
      <button class="btn btn-outline-danger" (click)="ConfirmarPedido()">Confirmar Pedido</button>
    </div>

  </div>
</main>
