<form role="form" [formGroup]="passwordForm" (ngSubmit)="Salvar()">
  <div class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input formControlName="SenhaAtual" maxlength="20" class="form-control" placeholder="Informe a senha atual"
        type="password">
    </div>
    <div>
      <small class="text-danger" *ngIf="submitted && f.SenhaAtual.errors?.required">Informe a senha atual</small>
    </div>
    <div>
      <small class="text-danger" *ngIf="submitted && f.SenhaAtual.errors?.minlength">A senha precisa ter pelo
        menos 6 caracteres</small>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input formControlName="NovaSenha" maxlength="20" class="form-control" placeholder="Informe a nova senha"
        type="password" (keyup)="VerificarForcaDaSenha()">
    </div>
    <div>
      <small class="text-danger" *ngIf="submitted && f.NovaSenha.errors?.required">Informe a nova
        senha</small>
    </div>
    <div>
      <small class="text-danger" *ngIf="submitted && f.NovaSenha.errors?.minlength">A senha precisa ter pelo
        menos 6 caracteres</small>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input formControlName="Confirmacao" maxlength="20" class="form-control" placeholder="Confirme a nova senha"
        type="password">
    </div>
    <div>
      <small class="text-danger" *ngIf="submitted && f.Confirmacao.errors?.required">Confirme a nova
        senha</small>
    </div>
    <div>
      <small class="text-danger" *ngIf="submitted && f.Confirmacao.errors?.minlength">A senha precisa ter pelo
        menos 6 caracteres</small>
    </div>
    <div>
      <small class="text-danger" *ngIf="submitted && f.Confirmacao.errors?.mustMatch">As senhas não são iguais</small>
    </div>
  </div>
  <div class="text-muted font-italic">
    <small *ngIf="f.NovaSenha.value.length > 0">força da senha:
      <span
        [ngClass]="{'text-danger': forcaDaSenha === 'Muito Fraca' || forcaDaSenha === 'Fraca', 'text-warning': forcaDaSenha === 'Média', 'text-success': forcaDaSenha === 'Forte'}"
        class="font-weight-700">{{forcaDaSenha}}</span>
    </small>
  </div>
  <div class="alert mt-3" [ngClass]="{'alert-danger': !success, 'alert-success': success}" role="alert"
    *ngIf="showAlert">
    <div>{{alertMessage}}</div>
    <ul *ngFor="let erro of retorno.Erros">
      <li>{{erro}}</li>
    </ul>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary" [ngClass]="{'my-2': showAlert, 'my-4': !showAlert}">Salvar</button>
  </div>
  <div class="text-primary text-center display-4" *ngIf="loading">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
</form>
