<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-md-6 col-lg-4 my-0"
              *ngFor="let produto of produtos | slice: (page - 1) * pageSize : page * pageSize">
              <app-product-card [produto]="produto"></app-product-card>
            </div>
          </div>
        </div>
      </div>
      <ngb-pagination class="d-flex justify-content-center mt-3" [collectionSize]="produtos.length" [(page)]="page"
        [pageSize]="pageSize" [boundaryLinks]="true" *ngIf="produtos.length > 0"></ngb-pagination>
    </div>
  </section>
</main>
