<div class="modal-content">
  <div class="modal-body p-0">
    <div class="card bg-secondary shadow border-0">
      <div class="card-header bg-white">
        <div class="text-muted text-center">
          <span class="text-muted">Editando o endereço</span>
        </div>
      </div>
      <div class="card-body px-lg-5 py-lg-5">
        <form role="form" [formGroup]="addressForm" (ngSubmit)="Salvar()">
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" placeholder="Cep" type="text" formControlName="Cep" (blur)="GetAddressViaCep()" numbersOnly>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <input class="form-control" placeholder="Logradouro" type="text" formControlName="Logradouro">
            </div>
            <div>
              <small class="text-danger" *ngIf="submitted && f.Logradouro.errors?.required">Informe o logradouro</small>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" #inputNumero placeholder="Número" type="text" formControlName="Numero" numbersOnly>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" placeholder="Complemento" type="text" formControlName="Complemento">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" placeholder="Bairro" type="text" formControlName="Bairro">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" placeholder="Cidade" type="text" formControlName="Cidade">
            </div>
            <div>
                <small class="text-danger" *ngIf="submitted && f.Cidade.errors?.required">Informe a cidade</small>
              </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" placeholder="UF" type="text" formControlName="Uf">
            </div>
            <div>
                <small class="text-danger" *ngIf="submitted && f.Uf.errors?.required">Informe o estado (UF)</small>
              </div>
          </div>
          <div class="alert mt-3" [ngClass]="{'alert-danger': !success, 'alert-success': success}" role="alert" *ngIf="showAlert">
            <div>{{alertMessage}}</div>
            <ul *ngFor="let erro of retorno.Erros">                    
              <li>{{erro}}</li>
            </ul>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-primary">Salvar</button>
          </div>
          <div class="text-primary text-center display-4" *ngIf="loading">     
            <i class="fas fa-spinner fa-spin"></i>             
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
