/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: transparent;
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .overlay:hover {
    opacity: 1;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    position: absolute;
    font-size: xx-large;
    top: 10%;
    right: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fa-heart {
    color: #f5365c !important;
  }
  
  .fa-cart-plus {
    color: #5e72e4 !important;
  }
  
  .fa-info-circle {
    color: #fb6340 !important;
  }

  .fa-share-alt {
    color:#11cdef !important;
  }

  div.row div.col a i.fas:hover {
    transition: .3s ease;
    font-size: xx-large;
  }