<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>

            <div class="container mt-5">
                <div class="card shadow border-0 my-3" *ngIf="items.length == 0">
                    <div class="card-body py-4">
                        Carrinho vazio
                    </div>                    
                </div>
                <div class="card shadow border-0 my-3" *ngFor="let item of items">
                    <div class="card-body py-4">
                        <div class="row">
                            <div class="col-md-2 text-left">
                                <div class="">
                                    <img src="../../assets/img/theme/team-1-800x800.jpg"
                                        class="img-center img-fluid shadow shadow-lg--hover" />
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-10 h4">
                                        {{item.Titulo}}
                                    </div>
                                    <div class="col-2 text-right">
                                        <i class="fa fa-trash text-danger pt-1" title="Remover item"
                                            style="cursor: pointer" (click)="Remover(item)"></i>
                                    </div>
                                </div>
                                <p class="text-muted">
                                    {{item.Descricao}}
                                </p>
                                <div class="row">
                                    <div class="col-5 col-md-2">                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-sm btn-warning" type="button"
                                                    (click)="Diminuir(item)">-</button>
                                            </div>
                                            <input type="text" class="form-control form-control-sm text-center"
                                                [value]="item.Quantidade">
                                            <div class="input-group-append">
                                                <button class="btn btn-sm btn-info" type="button"
                                                    (click)="Aumentar(item)">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col text-right h5">
                                        {{item.Valor}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
                <div class="row">
                    <div class="col-md-4 text-left">
                        <button class="btn btn-block btn-success mb-3">Continuar comprando</button>
                    </div>
                    <div class="offset-md-4"></div>
                    <div class="col-md-4 text-right">
                        <button class="btn btn-block btn-danger mb-3" *ngIf="items.length > 0">Finalizar compra</button>
                    </div>
                </div>                                              
            </div>
                     
        </section>
    </div>
</main>